{% extends "base.html" %}

{% load staticfiles %}

{% block header %}

			<div class="col-xs-12"> 
				<div class="row mtitle">
					<div class="col-xs-2"></div>
					<div class="col-xs-8"><h1>Создание качественных сайтов любой сложности</h1></div>
					<div class="col-xs-2"></div>
				</div>
			</div>

			<div class="col-xs-12"> 
				<div class="row display">
					<div class="col-xs-3"></div>
					<div class="col-xs-6"><img src="{% static "images/mains.png" %}" />
						<div class="rein">
								<h2 class="nsite">Вам нужен сайт?</h2>
								<h4 class="nslog">Закажите прямо сейчас</h4>
								<a href="{% url 'orderform.views.order' %}"><button type="button" class="btn btn-danger  btn-lg">Заказать</button></a>
						</div>
					</div>
					<div class="col-xs-3"></div>
				</div>
			</div>

			<div class="col-xs-12"> 
				<div class="row richtungen">
					<div class="col-xs-6">
							<img src="{% static "images/head1.png" %}" />
						<div class="htext">
						<h3>Создание сайтов</h3>		
						Главным направлением моей деятельности, является создание сайтов. И не просто, а качественно, современно, интересно и с учетом всех ваших пожеланий. </div>	
					</div>
					<div class="col-xs-6">
							<img src="{% static "images/head2.png" %}" />
						<div class="htext">
						<h3>Сопровождение сайтов</h3>		
						Создание сайтов безусловно очень важно. Но и дальнейшее его сопровождение играет не последнюю роль. Поэтому, кроме разработки сайтов, предлагаю услуги по обслуживанию сайтов: оптимизации, продвижения в сети, внесение информации и т. д.</div>	
					</div>

					</div>
				</div>
			</div>
			
 {% endblock %}

 {% block home %}

<div class="container middle">
	<div class="row">
		<div class="col-xs-12">
			<h2 class="center"><span>У</span>слуги</h2>
		</div>

		<div class="col-xs-12 service">
			<div class="col-xs-4">
				<img src="{% static "images/service1.png" %}" />
				<div class="text">
				<h5><a href="{% url 'pages.views.site' 'leistungen' %}">Создание сайтов</a></h5>		
				Я знаю как разработать ваш сайт чтобы он был успешным. Ведь это моя основная специализация. Вы получите свой продукт своевременно.</div>	
			</div>

			<div class="col-xs-4">
				<img src="{% static "images/service2.png" %}" />
				<div class="text">
				<h5><a href="{% url 'pages.views.site' 'leistungen' %}">Фирменный стиль</a></h5>
				Фирменый стиль очень важный этап при создании сайта. Это ваша индивидуальность, это один из способов выделится из всей конкурентной массы.</div>	
			</div>
			<div class="col-xs-4">
				<img src="{% static "images/service3.png" %}" />
				<div class="text">
				<h5><a href="{% url 'pages.views.site' 'leistungen' %}">Продвижение сайтов</a></h5>
				Услуга обеспечит продвижение вашего сайта, выше на страницах поисковых систем.</div>	
			</div>
		</div>
	</div>
</div>

<div class="jobs">
	<div class="container middle">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="center"><span>П</span>ортфолио</h2>
				</div>
				<div class="col-xs-12">
					<div class="col-xs-8">
							<div class="ptext">
							<p>Я люблю свою работу и рад показать результаты, с удовольствием пополняю данный раздел с описанием разработанных сайтов. Вы можете ознакомиться с его содержимым.</p>
							</div>
							<a href="{% url 'portfolio.views.index' %}"><button type="button" class="btn btn-primary">Подробнее</button></a>	
					</div>
					<div class="col-xs-4 pimage">
						<img src="{% static "images/portfolio.png" %}" />
					</div>
				</div>
			</div>
	</div>
</div>

<div class="DevSite">
	<div class="container middle">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="center"><span>П</span>роцесс создания сайта</h2>
				</div>
				<div class="col-xs-12 devs">
					<div class="col-xs-2">
						<div class="cimg"><img src="{% static "images/devsite1.png" %}" /></div>
						<div class="text2">
						<h5>Техническое задание</h5></div>	
					</div>

					<div class="col-xs-2">
						<div class="cimg"><img src="{% static "images/devsite2.png" %}" /></div>
						<div class="text2">
						<h5>Планирование</h5></div>	
					</div>
					<div class="col-xs-2">
						<div class="cimg"><img src="{% static "images/devsite3.png" %}" /></div>
						<div class="text2">
						<h5>Дизайн</h5></div>	
					</div>
					<div class="col-xs-2">
						<div class="cimg"><img src="{% static "images/devsite4.png" %}" /></div>
						<div class="text2">
						<h5>Программирование</h5></div>	
					</div>
					<div class="col-xs-2">
						<div class="cimg"><img src="{% static "images/devsite5.png" %}" /></div>
						<div class="text2">
						<h5>Тестирование</h5></div>	
					</div>
				</div>
			</div>
	</div>
</div>


<div class="ContactInfo">
	<div class="container middle">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="center"><span>К</span>онтактная информация</h2>
				</div>
				<div class="col-xs-12 contacts">
					<div class="col-xs-3">
						<div class="cimg"><img src="{% static "images/contact1.png" %}" /></div>
						<div class="text">
						<h5>Web - Разработчик</h5>		
						Баркалов Антон</div>	
					</div>

					<div class="col-xs-3">
						<div class="cimg"><img src="{% static "images/contact2.png" %}" /></div>
						<div class="text">
						<h5>Skype</h5>
						volant247</div>	
					</div>
					<div class="col-xs-3">
						<div class="cimg"><img src="{% static "images/contact3.png" %}" /></div>
						<div class="text">
						<h5>E-mail</h5>
						volant247@gmail.com</div>	
					</div>
					<div class="col-xs-3">
						<div class="cimg"><img src="{% static "images/contact4.png" %}" /></div>
						<div class="text">
						<h5>Телефон</h5>
						+49 176 36494787</div>	
					</div>
				</div>
			</div>
	</div>
</div>




{% endblock %}